extends layouts/layout

block variables
  -const pageTitle ='Main'

  -
    var secondslist =[
      { number: '01', name: 'Intro' },
      { number: '02', name: 'Work' },
      { number: '03', name: 'About' },
      { number: '04', name: 'Contacts' }
    ]
  -
    var storylist =[
      { img: 'img/img2.png', alt: 'img2'},
      { img: 'img/img3.png', alt: 'img3'},
      { img: 'img/img4.png', alt: 'img4'}
    ]
  -
    var numberslist =[
      { num: '42', text: 'Web Design Projects'},
      { num: '123', text: 'happy client'},
      { num: '15', text: 'award winner'},
      { num: '99', text: 'cup of coffee'},
      { num: '24', text: 'members'}
    ]
  -
    var serviceslist =[
      { img: 'img/icon_alarm.png', alt: 'icon_alarm', title: 'Photography', descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'},
      { img: 'img/icon_line_graph.png', alt: 'icon_line_graph', title: 'Web Design', descr: 'Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'},
      { img: 'img/icon_computer.png', alt: 'icon_computer', title: 'Creativity', descr: 'Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'},
      { img: 'img/icon_book.png', alt: 'icon_book', title: 'seo', descr: 'Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.'},
      { img: 'img/icon_home.png', alt: 'icon_home', title: 'Css/Html', descr: 'Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.'},
      { img: 'img/icon_border.png', alt: 'icon_border', title: 'digital', descr: 'Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'}
    ]
  -
    var whatlist =[
      { class: 'what__title_active', img: 'img/icon_picture.png', alt: 'icon_picture', title: 'Photography', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'},
      { img: 'img/icon_equalizer.png', alt: 'icon_equalizer', title: 'creativity', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'},
      { img: 'img/icon_bullseye.png', alt: 'icon_bullseye', title: 'web design', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'}
    ]
  -
    var meetlist =[
      { img: 'img/img11.png', alt: 'img11', fblink: '/', fbicon: 'icon_fb', twitterlink: '/', twittericon: 'icon_twitter', pinterestlink: '/', pinteresticon: 'icon_pinterest',  imlink: '', imicon: 'icon_im', text: 'Matthew Dix', descr: 'Graphic Design'},
      { img: 'img/img12.png', alt: 'img12', fblink: '/', fbicon: 'icon_fb', twitterlink: '/', twittericon: 'icon_twitter', pinterestlink: '/', pinteresticon: 'icon_pinterest',  imlink: '', imicon: 'icon_im', text: 'Christopher Campbell', descr: 'Branding/UX design'},
      { img: 'img/img13.png', alt: 'img13', fblink: '/', fbicon: 'icon_fb', twitterlink: '/', twittericon: 'icon_twitter', pinterestlink: '/', pinteresticon: 'icon_pinterest',  imlink: '', imicon: 'icon_im', text: 'Michael Fertig', descr: 'Developer'}
    ]
  -
    var happylist =[
      {img: 'img/img39.png', alt: 'img', name: 'Matthew Dix', descr: 'Graphic Design', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.'},
      {img: 'img/img40.png', alt: 'img', name: 'Nick Karvounis', descr: 'Graphic Design', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.'},
      {img: 'img/img41.png', alt: 'img', name: 'Jaelynn Castillo', descr: 'Graphic Design', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.'},
      {img: 'img/img42.png', alt: 'img', name: 'Mike Petrucci', descr: 'Graphic Design', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.'}
    ]

block content
  main
    .main-page
      section.top-slider
        .inner
          .top-slider__list
            .top-slider__descr Creative Template
            .top-slider__title Welcome to MoGo
            .top-slider__button
              a(href='/') Learn more
          .seconds
            each secondslistItem in secondslist
              .seconds__item
                .seconds__line
                  .seconds__line_progress
                .seconds__name
                  span=secondslistItem.number
                  !=secondslistItem.name
      section.story
        .inner
          +sectionTitle('What we do', 'Story about us')
          +sectionText('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
          .story__list
            each storylistItem in storylist
              .story__item
                a(href="/")
                  img(src=storylistItem.img, alt=storylistItem.alt)
                  .story__inf
                    .story__icon
                      img(src="img/icon_user.png", alt="user")
                    .story__descr super team
      section.numbers
        .inner
          .numbers__list
            each numberslistItem in numberslist
              .numbers__item 
                .numbers__num=numberslistItem.num
                .numbers__text=numberslistItem.text
      section.services 
        .inner 
          +sectionTitle('We work with', 'Amazing Services')
          .services__list 
            each serviceslistItem in serviceslist
              .services__item 
                .services__img 
                  img(src=serviceslistItem.img, alt=serviceslistItem.alt)
                .services__text 
                  .services__title=serviceslistItem.title 
                  .services__descr=serviceslistItem.descr
      section.unique
        .inner 
          +sectionTitle('For all devices', 'Unique design')
          .unique__img 
            img(src="img/img6.png", alt="img6 ")
      section.what
        .inner 
          +sectionTitle('Service', 'what we do')
          +sectionText('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
          .what__list
            .what__img  
              img(src="img/img10.png", alt="img10")
            .what__list-tab 
              each whatlistItem in whatlist
                .what__item
                  .what__title(class=whatlistItem.class)
                    img(src=whatlistItem.img, alt=whatlistItem.alt)
                    !=whatlistItem.title
                  .what__text
                    p=whatlistItem.text
      section.comment-icon 
        .inner 
          .comment-icon__list 
            .swiper-wrapper
              .swiper-slide
                .comment-icon__item 
                  .comment-icon__icon 
                    img(src="img/icon_speech.png", alt="icon_speech")
                  .comment-icon__text
                    .comment-icon__comment “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                    .comment-icon__name Jon Doe
              .swiper-slide
                .comment-icon__item 
                  .comment-icon__icon 
                    img(src="img/icon_speech.png", alt="icon_speech")
                  .comment-icon__text 
                    .comment-icon__comment “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                    .comment-icon__name Jon Doe
              .swiper-slide
                .comment-icon__item 
                  .comment-icon__icon 
                    img(src="img/icon_speech.png", alt="icon_speech")
                  .comment-icon__text 
                    .comment-icon__comment “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                    .comment-icon__name Jon Doe
          .comment-icon-button-next
          .comment-icon-button-prev
      section.meet 
        .inner 
          +sectionTitle('Who we are', 'Meet our team')
          +sectionText('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
          .meet__list 
            each meetlistItem in meetlist
              .meet__item 
                .meet__hov-img
                  .meet__img 
                    img(src=meetlistItem.img, alt=meetlistItem.alt)
                    .meet__icon 
                      a(href=meetlistItem.fblink) 
                        +icon(meetlistItem.fbicon)
                      a(href=meetlistItem.twitterlink) 
                        +icon(meetlistItem.twittericon)
                      a(href=meetlistItem.pinterestlink) 
                        +icon(meetlistItem.pinteresticon)
                      a(href=meetlistItem.imlink) 
                        +icon(meetlistItem.imicon)
                .meet__text=meetlistItem.text
                .meet__descr=meetlistItem.descr
      section.brands
        .inner
          img(src="img/img8.png", alt="brands")
      section.creatively
        .inner 
          +sectionTitle('What we do', 'some of our work')
          +sectionText('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
        .creatively__list 
          .creatively__row 
            .creatively__item
              .creatively__img 
                img(src="img/img18.png", alt="img")
              .creatively__inf 
                img(src="img/icon_picture_white.png", alt="icon_picture_white")
                .creatively__title creatively designed
                .creatively__descr Lorem ipsum dolor sit
            .creatively__item
              .creatively__img 
                img(src="img/img19.png", alt="img")
              .creatively__inf 
                img(src="img/icon_picture_white.png", alt="icon_picture_white")
                .creatively__title creatively designed
                .creatively__descr Lorem ipsum dolor sit
          .creatively__row 
            .creatively__item
              .creatively__img 
                img(src="img/img38.png", alt="img")
              .creatively__inf 
                img(src="img/icon_picture_white.png", alt="icon_picture_white")
                .creatively__title creatively designed
                .creatively__descr Lorem ipsum dolor sit
            .creatively__item
              .creatively__img 
                img(src="img/img20.png", alt="img")
              .creatively__inf 
                img(src="img/icon_picture_white.png", alt="icon_picture_white")
                .creatively__title creatively designed
                .creatively__descr Lorem ipsum dolor sit
          .creatively__item
            .creatively__img 
              img(src="img/img21.png", alt="img")
            .creatively__inf 
              img(src="img/icon_picture_white.png", alt="icon_picture_white")
              .creatively__title creatively designed
              .creatively__descr Lorem ipsum dolor sit
          .creatively__row 
            .creatively__item
              .creatively__img 
                img(src="img/img22.png", alt="img")
              .creatively__inf 
                img(src="img/icon_picture_white.png", alt="icon_picture_white")
                .creatively__title creatively designed
                .creatively__descr Lorem ipsum dolor sit
            .creatively__item
              .creatively__img 
                img(src="img/img23.png", alt="img")
              .creatively__inf 
                img(src="img/icon_picture_white.png", alt="icon_picture_white")
                .creatively__title creatively designed
                .creatively__descr Lorem ipsum dolor sit
      section.creatively-slider 
        .inner
          .creatively-slider__list
            .swiper-wrapper 
              .swiper-slide 
                .creatively-slider__item 
                  .creatively-slider__img 
                    img(src="img/img14.png", alt="img14.png")
                  .creatively-slider__text
                    .creatively-slider__descr “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                    .creatively-slider__name Joshua Earle
              .swiper-slide 
                .creatively-slider__item 
                  .creatively-slider__img 
                    img(src="img/img14.png", alt="img14.png")
                  .creatively-slider__text
                    .creatively-slider__descr “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                    .creatively-slider__name Joshua Earle
          .creatively-slider-button-next
          .creatively-slider-button-prev
      section.happy 
        .inner
          +sectionTitle('Happy Clients', 'What people say')
          .happy__list 
            each happylistItem in happylist
              .happy__item 
                .happy__img 
                  img(src=happylistItem.img, alt=happylistItem.alt)
                .happy__inf 
                  .happy__name=happylistItem.name
                  .happy__descr=happylistItem.descr
                  .happy__text=happylistItem.text
      section.stories
        .inner 
          +sectionTitle('Our stories', 'Latest blog')
          .stories__list 
            .stories__item 
              .stories__img 
                img(src="img/img15.png", alt="img")
                .stories__date 
                  .stories__number-date 15
                  .stories__descr-date Jan 
              .stories__title Lorem ipsum dolor sit amet
              .stories__text Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              .stories__inf 
                .stories__watch 
                  img(src="img/icon_view.png", alt="icon")
                  | 542
                .stories__comment 
                  img(src="img/icon_speech_bubble.png", alt="icon")
                  | 17
            .stories__item 
              .stories__img 
                img(src="img/img15.png", alt="img")
                .stories__date 
                  .stories__number-date 15
                  .stories__descr-date Jan 
              .stories__title Lorem ipsum dolor sit amet
              .stories__text Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              .stories__inf 
                .stories__watch 
                  img(src="img/icon_view.png", alt="icon")
                  | 542
                .stories__comment 
                  img(src="img/icon_speech_bubble.png", alt="icon")
                  | 17
            .stories__item 
              .stories__img 
                img(src="img/img15.png", alt="img")
                .stories__date 
                  .stories__number-date 15
                  .stories__descr-date Jan 
              .stories__title Lorem ipsum dolor sit amet
              .stories__text Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              .stories__inf 
                .stories__watch 
                  img(src="img/icon_view.png", alt="icon")
                  | 542
                .stories__comment 
                  img(src="img/icon_speech_bubble.png", alt="icon")
                  | 17
      section.map
        img(src="img/icon_map.png", alt="icon_map")
        .map__text Open map