extends layouts/layout

block variables
  -const pageTitle ='Main'

  -
    var secondslist =[
      { number: '01', name: 'Intro' },
      { number: '02', name: 'Work' },
      { number: '03', name: 'About' },
      { number: '04', name: 'Contacts' }
    ]
  -
    var storylist =[
      { img: 'img/img2.png', alt: 'img2'},
      { img: 'img/img3.png', alt: 'img3'},
      { img: 'img/img4.png', alt: 'img4'}
    ]
  -
    var numberslist =[
      { num: '42', text: 'Web Design Projects'},
      { num: '123', text: 'happy client'},
      { num: '15', text: 'award winner'},
      { num: '99', text: 'cup of coffee'},
      { num: '24', text: 'members'}
    ]
  -
    var serviceslist =[
      { img: 'img/icon_alarm.png', alt: 'icon_alarm', title: 'Photography', descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'},
      { img: 'img/icon_line_graph.png', alt: 'icon_line_graph', title: 'Web Design', descr: 'Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'},
      { img: 'img/icon_computer.png', alt: 'icon_computer', title: 'Creativity', descr: 'Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'},
      { img: 'img/icon_book.png', alt: 'icon_book', title: 'seo', descr: 'Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.'},
      { img: 'img/icon_home.png', alt: 'icon_home', title: 'Css/Html', descr: 'Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.'},
      { img: 'img/icon_border.png', alt: 'icon_border', title: 'digital', descr: 'Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'}
    ]

block content
  main
    .main-page
      section.top-slider
        .inner
          .top-slider__list
            .top-slider__descr Creative Template
            .top-slider__title Welcome to MoGo
            .top-slider__button
              a(href='/') Learn more
          .seconds
            each secondslistItem in secondslist
              .seconds__item
                .seconds__line
                  .seconds__line_progress
                .seconds__name
                  span=secondslistItem.number
                  !=secondslistItem.name
      section.story
        .inner
          +sectionTitle('What we do', 'Story about us')
          +sectionText('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
          .story__list
            each storylistItem in storylist
              .story__item
                a(href="/")
                  img(src=storylistItem.img, alt=storylistItem.alt)
                  .story__inf
                    .story__icon
                      img(src="img/icon_user.png", alt="user")
                    .story__descr super team
      section.numbers
        .inner
          .numbers__list
            each numberslistItem in numberslist
              .numbers__item 
                .numbers__num=numberslistItem.num
                .numbers__text=numberslistItem.text
      section.services 
        .inner 
          +sectionTitle('We work with', 'Amazing Services ')
          .services__list 
            each serviceslistItem in serviceslist
              .services__item 
                .services__img 
                  img(src=serviceslistItem.img, alt=serviceslistItem.alt)
                .services__text 
                  .services__title=serviceslistItem.title 
                  .services__descr=serviceslistItem.descr